* {
  height: auto;
}

body {
  background-image: linear-gradient(to bottom, #f2c299, #f7951e);
}
main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 3px #db8215ad;
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  color: #bf281b;
  text-align: center;
  text-shadow: 2px 2px 2px #c7493ed0;
}
h2 {
  color: #f2561d;
}

p {
  text-align: justify;
}
